header {
    font-style: italic;
}

body {
    background-image: url("../images/bluepinkpastel.jpg");
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header.masthead {
    background-color:rgba(230, 165, 195, 0.829);
}

img{
    border: 3px solid skyblue;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
}

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }